<h2>Your account</h2>

<div><%= link_to 'Delete your account', account_path, :method => :delete, :data => {:confirm => 'Are you sure? This will delete your entire account!'}, :class => 'btn btn-danger' %></div>
